{% extends "Base.html" %}
{% block content %}
<p>
I am a Computer Science Senior at University of Illinois at Urbana-Champaign with experience in Systems and Security, Computer Graphics, and Fullstack web development.
This website exists to display a few of my projects and how they function on a broad level.
</p>
<p>
You can read more about my experience by reading about a few of my projects here, and my resume, or via my <a href="https://www.linkedin.com/in/rishabh-asthana/">Linkedin</a> profile
</p>

<p> I like to read, watch, exercise, travel and sometimes draw too, my sketches can be found at my <a href="https://www.instagram.com/thedarkreaper_/">Instagram</a>
<br>
Thanks for visiting! :)
</p>
{% endblock %}
